# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py